# Root
node_modules/
.env
.env.*

# Client
client/node_modules/
client/dist/
client/build/
client/package-lock.json

# Server
server/node_modules/
server/logs/
server/uploads/
server/package-lock.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db